body{
margin:0;
text-align:center;
background-image:url(images/2.jpg);
background-position:center bottom;
background-repeat:no repeat;
background-size:100% 100%;
}
navi{
font-size:30px;
width:1200px;
margin:30px;
background:#008080;
}
navi table{
border:0;
border-collapse:collapse;
margin:30px;
width:1200px;
}
navi table a:link{
color:white;
text-decoration:none;
}
#container{
margin:0 auto;
width:1200px;
}
#top{
width:100%;
height:auto;
}
#main{
width:1200px;
margin:0 auto;
padding:10px 0px;
height:1000px;
}
#left{width:400px;
height:360px;
font-size:20px;
float:left;
padding-top:40px;
color:#778899;
font-style:italic;
}
#center{width:300px;
height:360px;
margin-left:10px
font-size:20px;
float:left;
padding-top:40px;
}
#right{width:300px;
height:360px;
font-size:20px;
float:right;
padding-top:40px;
color:#191970;
text-shadow:3px 3px 3px #333;
}
#main h1{
color:#582C2C;
font-size:20px;
}
#main h2{
color:#630;
font-size:20px;
#main p{
text-indent:2em;
text-align:left;
color:white;
font-size:13px;
line-height:1.5;
}
