body{
text-align:center;
margin:0px;
}
p{
margin:10px;
font:13px/1.8 ו;
text-indent:2em;
text-align:left;
}
#container{
width:1200px;
margin:0 auto;
}
#main1{
clear:both;
margin:2px;
height:340px;
width:1000px;
}
#main1_left{
float:left;
width:220px;
height:340px;
background-image:url(images/9.jpg);
background-size:220px 340px;
background-repeat:no repeat;
}
#main1_right{
float:right;
width:700px;
}
#main1_left p{
margin:60px 50px;
color:#deb887;
}
#main2{
clear:both;
margin:2px;
height:220px;
}
#main2_left{
width:220px;
float:left;
}
#mian2_right{
float:right;
width:900px;
border:1px #a4db18 solid;
border-radius:5px;
}
#main2_left ul{
margin:0;
padding:0;
}
#main2_left ul li{
list-style:none;
font:13px/1.8 ו;
margin:5px auto;
padding:3px;
border:1px #ebf811 solid;
background:#a4db18;
width:85%;
border-radius:4px;
}
#main2_left ul:hover{

background:#ebf811;
}
#main3{
clear:both;
margin:2px;
background-image:url(images/4.jpg);
background-size:1200px 400px;
background-repeat:no repeat;
}
#foot{
clear:both;
background:whitesmoke;
padding:20px 0;
border-radius:5px
}
